body {
    font-family: Roboto, helvetica, sans-serif;
}

header,
main,
footer {
    max-width: 760px;
    margin: 0 auto;
}

.banner{
    border: 1px solid #bbb;
    padding: 1rem;
    background-color: rgb(230, 243, 254);
    font-weight: 700;
	word-break: break-word;
	text-align: center;
}

h1 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

h2 {
    color: navy;
    text-align: left;
    grid-column: 1/3;
    margin: 0;
}

article p {
    text-align: justify;
    grid-column: 1/2;
    grid-row: 2/3;
}

h3, ul{
    grid-column: 2/3;
    grid-row: 1/2;
}

.callout {
    color: white;
    background-color: black;
    padding: 1rem;
    grid-column: 1/3;
}

footer {
    margin-top: 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    font-size: smaller;
    text-align: left;
}