    :root{
        --background: #335b80;
        --color-title: #ffffff;
        --text-color: #000000;
        --color-title-content: #05325c;
    }

    *{
        box-sizing: border-box;
    }

    /* HOME PAGE */
    body{
        margin: 0 auto;
        max-width: 100%;
    }

    h1{
        color: #ffffff;
        font-family: Comfortaa, sans-serif;
        font-size: 3rem;
        letter-spacing: 0.7rem;
    }

    h2, h3{
        font-family: "Sora", sans-serif;
    }

    p{
        font-size: 1.2rem;
        font-family: "Encode Sans", sans-serif;
    }

    /* HEADER */

    header{
        display: flex;
        justify-content: space-evenly;
        background-color: var(--background);
    }

    .top-nav {
        display: flex;
        justify-content: center;
    }

    .top-nav a {
        font-family: Comfortaa, sans-serif;
        color: var(--color-title);
        text-decoration: none;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        font-size: 1.7rem;
        text-align: center;
        align-content: center;
        letter-spacing: .1rem;
    }

    .top-nav a:hover {
        background-color: var(--color-title);
        color: var(--background);
    }

    /* HEADER */

    /* BUTTON */
    #menu {
        font-size: 2rem;
        border: 0;
        background: none;
        color: var(--color-title);
        position: absolute;
        /* Changes here */
        right: 10rem;
        top: 2rem;
        padding: 0 0 30px 0;
    }
    
    #menu::before {
        content: "☰";
        color: rgb(255, 255, 255);
    }
    
    #menu.open::before {
        content: "X";
    }

    .top-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .top-nav a {
        display: none;
        text-align: center;
        text-decoration: none;
        color: #fff;
    }

    .top-nav.open a {
        display: block;
        padding: 1rem;
    }
    
    .navigation a:hover {
        color: var(--color-title);
        background-color: var(--background);
    }

    
    /* BUTTON */


    /* MAIN */

    .hero,
    .announcement-title,
    .announcement-title-2,
    .announcement-text{
        max-width: 100%;
    }

    .hero img{
        max-width: 100%;
        height: auto;
        display: block;
        filter: brightness(60%);
    }

    .announcement-title{
        position: absolute;
        width: 40%;
        top: 10rem;
        left: 30rem;
        color: var(--color-title);
        font-size: 2rem;
        padding-left: 5rem;
    }

    .announcement-title-2{
        position: absolute;
        width: 100%;
        top: 13rem;
        left: 30rem;
        color: var(--color-title);
        font-size: 2rem;
        padding-left: 5rem;
    }

    .announcement-text{
        position: absolute;
        color: var(--color-title);
        width: 30%;
        top: 18rem;
        left: 35rem;
        font-size: .7rem;
        line-height: 1.5;
    }

    /* TOP SALES */

    .top-sales{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
        margin-top: 2.5rem;
        box-shadow: 0 4px 8px 10px rgba(0, 0, 0, 0.1);
    }

    .top-sales h2{
        font-size: 2rem;
        text-align: center;
        grid-column: 1 / 4;
    }

    .top-sales img{
        width: 50%;
        height: auto;
        margin: 0 auto;
    }

    .top-tie,
    .top-belt{
        max-height: 17rem;
    }

    .description-top-shoes{
        margin-top: 2.2rem;
    }

    .available{
        color: var(--color-title-content);
        font-weight: bold;
    }
    
    /* TOP SALES */

    /* EXPERIENCES */

    .experiences{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
        margin-top: 2.5rem;
    }

    .experiences h2{
        font-size: 2rem;
        text-align: center;
        grid-column: 1/3;
    }

    .elder-berret{
        text-align: center;
        margin-top: .5rem;
        font-size: 1.5rem;
    }

    .elder-byro-caption{
        text-align: center;
        margin-top: .5rem;
        font-size: 1.5rem;
    }

    .experiences-text, .experiences-text-2{
        text-align: justify;
        font-size: 1rem;
        width: 70%;
    }

    .experiences-text-2{
        grid-column: 2/3;
        grid-row: 3/4;
        width: 80%;
    }

    .elder-byro{
        grid-row: 2/3;
        grid-column: 2/3;
        margin-top: 1.6rem;
    }
    /* EXPERIENCES */

    /* MAIN */

    /* HOME PAGE */

    /* STORE PAGE */

    .belts-block-title,
    .shoes-block-title,
    .ties-block-title{
        text-align: center;
        margin-top: 2rem;
        font-size: 2.5rem;
        grid-column: 1/4;
    }

    .belts,
    .shoes,
    .ties{
        max-width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
        margin-top: 3rem;
    }

    .belts img,
    .shoes img,
    .ties img{
        max-width: 100%;
        height: auto;
        padding: 1rem;
    }

    .tie2{
        margin-top: 2rem;
    }

    .tie3{
        margin-top: 1.6rem;
    }

    .belts-title,
    .shoes-title,
    .ties-title{
        font-size: 2rem;
    }

    .belts-colors,
    .shoes-colors,
    .ties-colors,
    .belts-price,
    .shoes-price,
    .ties-price{
        font-size: 1.5rem;
    }

    .coming-soon{
        color: var(--color-title-content);
        margin-top: 7rem;
        margin-bottom: 7rem;
        text-align: center;
    }

    /* STORE PAGE */

    /* FOOTER */

    footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        min-height: 6rem;
        font-family: Comfortaa, sans-serif;
        justify-items: center;
        align-items: center;
        margin-top: 2.5rem;
        background-color: var(--background);
        color: var(--color-title);
    }
    footer p{
        font-size: 1.1rem;
    }

    .sociallinks a{
        grid-column: 2/3;
        align-content: center;
        justify-content: center;
    }

    .sociallinks img{
        margin-top: .8rem;
        margin-right: 1rem;
        margin-left: 1rem;
    }

    /* FOOTER */