@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
:root {
    --heading-font: 'Open Sans', sans;
    --paragraph-font: 'Open Sans', sans;
}

body {
    display: grid;
    grid-template: auto 1fr auto / auto 1fr 1fr;
    font-family: var(--paragraph-font);
    background-color: rgb(48, 51, 51);
    margin: 0;
}

header {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}

h1 {
    color: white;
}

nav {
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    color: rgb(255, 255, 255);
    padding: 15px; 
}

main {
    display: grid; /* If I don't add this grid the main will not give space to appear next to the other, it will appear one above the other */
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    min-height: 400px;
}

.main-content {
    background-color: rgb(163, 162, 162);
    grid-column: 1 / 4;
    min-height: 300px;
}

.main-content-paragraph {
    padding: 20px;
    font-size: 25px;
    margin: 0;
}

.aside-content {
    background-color: rgb(255, 255, 255);
    min-height: 300px;
    grid-column: 4 / 5;
}

.aside-content-paragraph {
    padding: 20px;
    font-size: 25px;
    margin: 0;
}

footer {
    color: white;
    text-align: center;
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    padding: 20px 0;
}
