@media screen and (max-width: 600px){
:root {
    --colombiaRed: #C8102E;
    --colombiaBlue: #003087;
    --colombiaYellow: #FFCD00;
}

body{
    font-family: "Jost", sans-serif;
}

header{
    background-color: var(--colombiaYellow);
    text-align: center;
    color: var(--colombiaBlue);
    padding: .5rem;
    margin-bottom: .5rem;
}

.data{
    display: flex;
    flex-direction: column;
}

.data-table{
    padding-left: 3.5rem;
}

.data-title{
    text-align: center;
    margin-bottom: 1rem;
}

.data-left{
    text-align: right;
}

.weather{
    display: flex;
    flex-direction: column;
}

.weather-title{
    text-align: center;
    margin: 0;
    margin-top: 1rem;
}

.logo img{
    width: 10rem;
    height: auto;
    position: absolute;
    margin-left: 12.8rem;
    margin-top: 0;
}

.weather-left{
    text-align: right;
}

.weather-right{
    text-align: left;
}

.weather-table{
    padding-left: 1.5rem;
    margin-top: 10rem;
}

picture {
    display: block;
    max-width: 100%;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

footer {
    text-align: center;
    font-size: 18px;
    background-color: var(--colombiaYellow);
    color: var(--colombiaBlue);
    margin-top: .5rem;
    padding: .5px;
}

}