/* @media screen and (min-width: 500px) {
    
    #menu {
	    font-size: 1.5rem;
	    border: 0;
	    background: none;
	    color: #000;
 	    position: absolute; 
        right: 20px; 
        top: 10px;
    }

    #menu::before {
	    content: "☰";
    }

    #menu.open::before {
	    content: "X";
    }

    .navigation {
	    display: flex;
	    flex-direction: column;
	    list-style: none;
	    background-color: #333;
	    color: #fff;
    }

    .navigation a {
	    display: none;
	    padding: 1rem;
	    text-align: center;
	    text-decoration: none;
	    color: #fff;
    }
    .navigation a:hover {
	    background-color: #bbb;
	    color: #333;
	    font-weight: 700;
    }

    .open a {
	    display: block;
    }

    .active::before {
	    content: "📍"; 
    }

    .stuff {
	    margin: .5m;
	    border: 1px solid rgba(0,0,0,.1);
	    background-color: #bed;
	    max-width: 580px;
	    height: 100vh;
	}
} */